@font-face {
  font-family: GothamRoundedMedium;
  src: url(../fonts/GothamRounded-Medium.otf);
}
@font-face {
  font-family: GothamRoundedBold;
  src: url(../fonts/GothamRounded-Bold.otf);
}
@font-face {
  font-family: GothamRounded;
  src: url(../fonts/GothamRounded-Book.otf);
}
* {
  box-sizing: border-box !important;
  letter-spacing: 2px;
}
a {
  color: #fff !important;
}
.btn-success {
  background-color: #16a085 !important;
  font-family: GothamRounded, Times, serif;
  font-size: 75%;
  text-transform: uppercase;
}
p {
  font-family: GothamRounded, Times, serif;
  font-size: 80%;
  margin-bottom: 50px;
}
h2 {
  color: #16a085;
  text-transform: uppercase;
  font-size: 130%;
  margin-bottom: 50px;
}
body {
  font-size: 18px;
  font-family: GothamRoundedBold, Times, serif;
}
/* HEADER */
header {
  background-image: url(../images/hero-img.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}
.nav {
  width: 100%;
  margin-top: 55px;
}
.nav-item {
  padding: 0 30px;
}

.nav-link {
  text-transform: uppercase;
}
.logo {
  text-align: center;
  margin-top: 40px;
}
.hero-content h1 {
  letter-spacing: 10px;
  font-size: 200%;
}
.hero-content p {
  font-size: 120%;
}
.hero-content h1,
.hero-content button {
  text-transform: uppercase;
}
.hero-icons {
  margin: 25px;
}
.hero-icons i {
  padding: 0 8px;
  font-size: 130%;
}
.btn-success {
  width: 166px;
  height: 49;
  font-family: GothamRounded, Times, serif;
  font-size: 75%;
}

/* ------------------------------------------------------------------------------------------ */

/* INTRO SECTION */
.section-intro {
  background-image: url(../images/section-intro-bg.png);
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 115px;
}

.intro-content p {
  font-family: GothamRounded, Times, serif;
  font-size: 80%;
  margin-bottom: 50px;
}
/* ------------------------------------------------------------------------------------------ */

/* DESIGN SECTION */
.section-design {
  padding: 115px;
  overflow: hidden;
}
.iphone-container {
  position: relative;
}
.iphone-img {
  position: absolute;
}
.design-pagination p {
  margin-top: 50px;
}
.design-pagination {
  position: relative;
}
.left-arrow:before {
  content: '\003C';
  display: inline-block;
  color: #000;
  position: absolute;
  top: 20px;
  font-size: 130%;
  font-family: GothamRounded, Times, serif;
}
.right-arrow:before {
  content: '\003E';
  display: inline-block;
  color: #000;
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 130%;
  font-family: GothamRounded, Times, serif;
}
/* ------------------------------------------------------------------------------------------ */

/* COMMUNITY SECTION */
.section-community {
  background-color: #f5f6f7;
  height: 484px;
}
/* ------------------------------------------------------------------------------------------ */

/* SUBSCRIBE SECTION */
.section-subscribe {
  background-image: url(../images/section-subscribe-bg.png);
  background-size: cover;
  background-position: center;
  height: 790px;
}
/* ------------------------------------------------------------------------------------------ */

/* DOWNLAOD SECTION */
.section-download {
  background-color: #f5f6f7;
  height: 396px;
}
/* ------------------------------------------------------------------------------------------ */

/* FOOTER */
footer {
  height: 161px;
}
/* ------------------------------------------------------------------------------------------ */
